.wishlist-container {
  margin-top: 80px;
  background-color: #faf9f9;
  min-height: 500px;
}

.wishlist-body {
  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
  height: 100vh;
  margin: 0 2%;
}

.action-bar {
  background-color: #faf9f9;
  padding-top: 3%;
  margin-bottom: 21.44px;
  display: flex;
  justify-content: space-between;
}

.url-input {
  width: 50vw;
  height: 50px;
  font-size: 16px;
  padding-left: 3%;
}

.wishlist {
  background-color: #fff;
}

.ac-button {
  padding: 8px 16px;
  font-size: 22px;
  letter-spacing: 0.5px;
  border: 0.5px solid #3d3d3d;
  border-radius: 8px;
  background-color: #fcf2f2;
  margin-left: 16px;
}

.ac-button:hover {
  cursor: pointer;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.wishlist-status {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.table-content {
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 100%;
}

.table-content thead :first-child {
  width: 50%;
}
.table-content thead :nth-child(2) {
  width: 20%;
}
.table-content thead :nth-child(3) {
  width: 20%;
}
.table-content thead :nth-child(4) {
  width: 10%;
}

.table-content thead tr {
  background-color: #fcf2f2;
  color: #3d3d3d;
  text-align: left;
  font-weight: bold;
}

.table-content td,
th {
  padding: 12px 12px;
}

table,
th,
td {
  border: 0.5px solid #3d3d3d;
}

th .delete-button:hover {
  cursor: pointer;
}

a:visited {
  color: #3d3d3d;
}
