.hero-top-level-container {
  background-color: #faf9f9;
}

.hero-row-container {
  margin: 0 6%;
}

@media screen and (max-width: 767px) {
  .hero-row-container {
    margin: 0 6%;
  }
}

@media screen and (max-width: 767px) {
  .hrc-content {
    flex-wrap: wrap;
  }
}

.content-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 4%;
  max-width: 50%;
  flex-basis: 50%;
}

@media screen and (max-width: 767px) {
  .content-col {
    max-width: 98%;
    flex-basis: 100%;
    padding: 6% 3%;
  }
}

.hero-text-wrapper {
  font-family: "Poppins", sans-serif;
  max-width: 540px;
}

@media screen and (max-width: 767px) {
  .hero-text-wrapper {
    padding-bottom: 20px;
    text-align: center;
  }
}

.heading {
  margin: 24px 0;
  font-size: 52px;
  font-weight: 100;
  line-height: 120%;
  color: #3d3d3d;
}

@media screen and (max-width: 767px) {
  .heading {
    margin-bottom: 5%;
    font-size: 38px;
  }
}

.description {
  font-size: 20px;
  line-height: 120%;
  color: #3d3d3d;
}

@media screen and (max-width: 767px) {
  .description {
    max-width: 100%;
    font-size: 18px;
  }
}

.hero-img-wrapper {
  max-width: 555px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .hero-img-wrapper {
    max-width: 555px;
    display: flex;
    justify-content: center;
  }
}

.hero-img {
  max-width: 70%;
  height: auto;
  margin: 0;
  padding-right: 0;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .hero-img-wrapper {
    max-width: 555px;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }
}
