.footer {
  background-color: #fff7f7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 2% 7%;
  color: #3d3d3d;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 11px;
  }
}

.footer-top {
  padding-bottom: 8px;
  border-bottom: 0.5px solid #3d3d3d;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 8px;
  border-top: 1px;
}

.github-mark {
  max-height: 22px;
  max-width: 22px;
}
